<%if(message.error) {%>
    <div class="alert alert-error bg-red-400 text-red-600">
        <%=message.error%>
    </div>
    <%} else if(message.success){%>
        <div class="alert alert-success bg-green-300 bg-green-600">
            <%=message.success%>
        </div>
        <%}%>