 <!-- Footer -->
 <footer class="bg-white dark:bg-lightBlack">
  <div class="mt-20 mb-10 pt-1 ml-10 md:ml-20 text-darkBlue">
    <img class="h-16 md:mt-10" src="../Images/Logo.png" alt="This is the company's logo">
    <p class="mt-2 text-footer">Space X Shares</p>
  </div>
  <div
        class="px-6 md:px-20 w-14 h-14 rounded-full bg-white dark:bg-black justify-center items-center"
      >
        <ion-icon
          class="text-3xl text-black dark:text-white sun-icon hover:cursor-pointer"
          name="sunny"
        ></ion-icon>
        <ion-icon
          class="text-3xl text-black dark:text-white moon-icon hover:cursor-pointer"
          name="moon"
        ></ion-icon>
      </div>
    <!-- Flex Container -->
    <div class="container flex flex-col justify-between px-6 mx-auto space-y-6 md:flex-row md-space-y-0 md:items-start">
      <div class="flex flex-col space-y-2 md:w-1/4 text-black dark:text-white md:mt-4">
        <h4 class="font-bold text-base mt-2 md:text-xl">Our Company</h4>
        <a class="text-brightBlue hover:underline" href="/aboutUs"><p>About Us</p></a> 
        <a class="text-brightBlue hover:underline" href="/faq"><p>FAQs</p></a> 
        <a class="text-brightBlue hover:underline" href="/contact"><p>Contact Us</p></a> 
      </div>
      <div class="flex flex-col space-y-2 md:w-1/4 text-black dark:text-white">
        <h4 class="font-bold text-base md:text-xl">Account</h4>
        <a class="text-brightBlue hover:underline" href="/user/create"><p>Create Account</p></a> 
        <a class="text-brightBlue hover:underline" href="/user/login"><p>Login</p></a> 
        <a class="text-black dark:text-white hover:underline" href="/user/forgot-password"><p>Forgot Password</p></a> 
      </div>
      <div class="flex flex-col justify-between">
        <h4 class="text-2xl font-semibold text-black dark:text-white md:text-left">
          Subscribe To Our Newsletter.
        </h4>
        <form action="post">
          <div class="flex flex-col mt-4">
            <input
              type="email"
              class="flex-1 px-6 py-2 focus:outline-darkBlue dark:focus:outline-lightBlue"
              placeholder="Enter Your Email Address"
            />
            <a
              href="#"
              class="duration-500 w-32 mt-4 p-3 px-4 text-black dark:text-white pt-3 border border-darkBlue dark:border-lightBlue dark:hover:bg-lightBlue  hover:bg-darkBlue hover:text-white"
              >Subscribe</a
            >
          </div>
        </form>
      </div>
    </div>
    <div class="flex flex-row items-center justify-center space-x-4 p-5 mt-5 border-t-2 border-darkBlue dark:border-lightBlue">
      <h4 class="text-xs text-black dark:text-white md:text-sm">Copy &copy; 2023, All Rights Fully Reserved.</h4>
      <h4 class="flex flex-row md:items-center text-xs text-black dark:text-white font-bold md:text-sm"> <ion-icon class="text-5xl mr-1 md:text-lg" name="location-outline"></ion-icon>Rocket Road
        Hawthorne, CA 90250
        United States.</h4>
  </div>
  </footer>
