<!-- loader -->
<div class="loader">
    <div>
        <span class="p">S</span>
        <span class="r">p</span>
        <span class="i1">a</span>
        <span class="m">c</span>
        <span class="e1">e</span>
        <span class="f">X</span>
        <span class="i2">S</span>
        <span class="n1">h</span>
        <span class="a">a</span>
        <span class="n2">r</span>
        <span class="c">e</span>
        <span class="e2">s</span>
        <span class="d1">.</span>
        <span class="d2">.</span>
    </div>
</div>
<!-- loader -->