@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Merriweather Sans", sans-serif;
  user-select: none;
}
html {
  scroll-behavior: smooth;
}
.main-body {
  margin-left: 80px;
}
/* The Nav Bar For Small Screen */
.hamburger {
  cursor: pointer;
  width: 30px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}
.hamburger-top,
.hamburger-middle,
.hamburger-down {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 4px;
  background-color: #4285f4;
  transform: rotate(0);
  transition: all 0.5s;
}
.aboutUs .hamburger-down,
.aboutUs .hamburger-middle,
.aboutUs .hamburger-top {
  background-color: black;
}
.hamburger-middle {
  transform: translateY(7px);
}
.hamburger-down {
  transform: translateY(14px);
}
.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}
.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}
.open .hamburger-middle {
  display: none;
}
.open .hamburger-down {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}
/* Hero Section */
.banner {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.slider {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
}
#slideImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: zoom 5s linear infinite;
}
@keyframes zoom {
  0% {
    transform: scale(1.3);
  }
  15% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
  85% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}
.overlay {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  position: absolute;
  top: 0;
}
.hero-text {
  width: 80%;
  text-align: center;
  color: #fff;
}
.hero-text h3 {
  width: 80%;
  margin: 20px auto 0;
  font-weight: 100;
  line-height: 25px;
}
@media screen and (max-width: 768px) {
  .hero-text h3 {
    width: 100%;
  }
}
.hero-text button, .aboutUS button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 10px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.5s;
}
.hero-text .btn:hover, .aboutUs .btn:hover {
  background-color: transparent;
}

/* Scroll Bar */
/* width */
body::-webkit-scrollbar {
  width: 10px;
}
/* Track */
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background-color: #0d47a1;
  border-radius: 10px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background-color: #000;
}
/* Pages Button */
.aboutUs button {
  display: flex;
  align-items: center;
  padding: 0.8rem 1.3rem 0.8rem 0.9rem;
  color: white;
  background: #ad5389;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  border: none;
  letter-spacing: 0.05rem;
}

.aboutUs button svg {
  margin-right: 3px;
  transform: rotate(30deg);
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.aboutUs button span {
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.aboutUs button:hover svg {
  transform: translateX(5px) rotate(90deg);
}

.aboutUs button:hover span {
  transform: translateX(7px);
}
/* Frequently Asked Questions */
.collapsible {
  background-color: #4285f4;
  color: #f8f8f8;
  cursor: pointer;
  padding: 18px;
  width: 90%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border: 2px solid #4285f4;
}

.active,
.collapsible:hover {
  background-color: white;
  transition-duration: 500ms;
  color: black;
}

.collapsible:after {
  content: "\002B";
  color: black;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}
.active .content {
  padding-top: 18px;
}
.content {
  padding: 0 18px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  background-color: white;
  width: 90%;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}
.another.collapsible {
  padding: 18px;
  border: 2px solid #4285f4;
  border-radius: 0;
  background-color: #fdfdfd;
  color: #030346;
}
.another.collapsible:after {
  content: "";
}
/* Testimonial */
#testimonial .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

#testimonial .swiper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}
/* Footer Text */
.text-footer {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
/* The Animation */
/* .hide {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 2s;
}
.unhide {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
} */
/* Main-Page */
.main {
  width: calc(100% - 300px);
  float: right;
}
@media screen and (max-width: 976px) {
  .main {
    width: 100%;
  }
}
/* Login Page */
.loginBody {
  background-image: url("../Images/rocket1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* Deposit Page */
.custom-select {
  position: relative;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: white;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #0f2331 transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #0f2331 transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
/* KYC */
#myFileInput,
#myFileInput1 {
  display: none;
}

#fileInputLabel,
#fileInputLabel1 {
  background-color: #0d47a1;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  transition-duration: 0.5s;
  border: 2px solid #0d47a1;
}

#fileInputLabel:hover,
#fileInputLabel1:hover {
  background-color: #fff;
  color: #0d47a1;
}

/* Google Translate */
#google_translate_element select {
  background: #0085fe;
  color: #fdfdfd;
  border: none;
  border-radius: 3px;
  padding: 10px;
}
.goog-logo-link {
  display: none !important;
}
.goog-te-gadget {
  color: transparent !important;
}
.goog-te-banner-frame {
  display: none !important;
}

#goog-gt-tt,
.goog-te-balloon-frame {
  display: none !important;
}
.goog-text-highlight {
  background: none !important;
  box-shadow: none !important;
}

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  min-width: 400px;
  max-width: 90%;
  z-index: 9999;
  padding: 1rem;
  text-align: center;
  border-radius: 5px;
}
