<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found</title>
    <link rel="stylesheet" href="../CSS/main.css" />
    <!-- Favicon -->
    <link
    rel="shortcut icon"
    href="../Images/logo.ico"
    type="image/x-ico"
  />
  <script src="//code.jivosite.com/widget/IQVm7Hn4FQ" async></script>

</head>

<body>
    <%- include("partials/nav"); -%>
        <section class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-center">
            <h1 class="text-9xl font-black">Opps!</h1>
            <h3 class="font-bold mt-5 uppercase">404 - page not found</h3>
            <p class="text-sm mt-10 capitalize">The link you followed might have been removed or had it's name changed or is
                temporarily unavailable.</p>
            <a href="/" class="inline-block mt-8 px-3 py-4 bg-brightBlue text-white capitalize rounded-full">go to
                homepage</a>
        </section>
</body>

</html>