<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <meta
      name="description"
      content="Prime Finance Limited is a cryptocurrency investment website that offers a range of investment plans for individuals looking to grow their crypto assets."
    />
    <meta name="copyright" content="Prime Finance Developers" />
    <meta
      name="keywords"
      content="cryptocurrency investment plans, prime finance limited, prime finance New Zealand, secure crypto investments, prime finance investment options, reliable crypto investment platform, secure crypto investments, investment companies in New Zealand, cryptocurrency investment strategies"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="primefinanceltd.com" />
    <meta property="og:title" content="Prime Finance Limited" />
    <meta
      property="og:description"
      content="Prime Finance Limited is a cryptocurrency investment website that offers a range of investment plans for individuals looking to grow their crypto assets."
    />
    <meta
      property="og:image"
      content="https://www.primefinanceltd.com/Images/Logo.png"
    />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="primefinanceltd.com" />
    <meta property="twitter:title" content="Prime Finance Limited" />
    <meta
      property="twitter:description"
      content="Prime Finance Limited is a cryptocurrency investment website that offers a range of investment plans for individuals looking to grow their crypto assets."
    />
    <meta
      property="twitter:image"
      content="https://www.primefinanceltd.com/Images/Logo.png"
    />

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="../Images/logo.ico"
      type="image/x-ico"
    />
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <!-- Font-Awesome -->
    <script
      src="https://kit.fontawesome.com/f5af09e245.js"
      crossorigin="anonymous"
    ></script>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="../CSS/main.css" />
    <!-- Jivo Chat -->
    <script src="//code.jivosite.com/widget/EvXdD3O8tA" async></script>
  </head>
  <body>
    <%- include("partials/nav"); -%>
    <section id="top">
      <div class="flex flex-col justify-evenly md:flex-row relative bg-brightBlue p-10">
        <canvas class="background absolute top-0 right-5"></canvas>
        <div class="z-40">
          <h1 class="text-3xl text-lightGray font-bold mt-10 md:text-4xl">
            About Us
          </h1>

          <h4
            class="text-lightGray mt-4 font-bold text-opacity-80 text-base md:text-xl"
          >
            Prime Finance Limited is a leading investment firm
            specializing in cryptocurrency investments.
          </h4>
        </div>
        <div class="flex flex-col space-y-1 z-40 mt-10 md:mt-0">
          <div
            class="w-64 h-32 rounded-lg mb-10 bg-lightGray shadow-lg border-2 border-brightBlue flex flex-col items-center p-3">
            <img class="h-10" src="../Images/transaction.png" alt="This is an icon" />
            <h4 class="mt-1 font-bold text-2xl text-brightBlue md:text-3xl">
              $91+ Million
            </h4>
            <p class="text-sm md:text-base">Transactions.</p>
          </div>
          <div
            class="w-64 h-32 rounded-lg mb-10 bg-lightGray shadow-lg border-2 border-brightBlue flex flex-col items-center p-3">
            <img class="h-10" src="../Images/accounts.png" alt="This is an icon" />
            <h4 class="mt-1 font-bold text-2xl text-brightBlue md:text-3xl">
              40+ Thousand
            </h4>
            <p class="text-sm md:text-base">Active Accounts.</p>
          </div>
        </div>
      </div>
    </section>
    <section id="body">
      <div class="flex flex-col items-center justify-center mt-20 bg-lightGray w-4/5 mx-auto pb-20">
        <div>
          <h1 class="text-3xl text-darkBlue font-bold text-center md:text-5xl">
            Innovative, Trustworthy,
            <span class="text-brightBlue"> Profitable, And Progressive.</span>
          </h1>
          <h4 class="text-darkBlue mt-4 font-bold text-center text-base md:text-xl">
            Our team of experienced professionals combines traditional
            investment expertise with cutting-edge knowledge of the crypto
            market, to help investors maximize their returns while minimizing
            risk.
          </h4>
          <div id="who are we" class="mt-10">
            <div class="flex flex-row items-start space-x-4">
              <div class="w-20 h-20 rounded-2xl p-2 bg-brightBlue bg-opacity-80">
                <img src="../Images/man.png" alt="This is an Icon" />
              </div>
              <div>
                <h4 class="text-darkBlue mt-6 font-bold text-center text-xl md:text-2xl">
                  Who Are We
                </h4>
              </div>
            </div>
            <div class="ml-24">
              <p class="text-darkBlue leading-loose">
                Prime Finance Limited is a leading investment firm specializing
                in cryptocurrency investments. At Prime Finance Limited, We
                believe that cryptocurrencies are the future of finance and that
                investing in them can provide significant long-term benefits.
                Our commitment to transparency and security means that investors
                can trust us to manage their investments with integrity and
                professionalism. With a strong track record of success and a
                deep understanding of the crypto landscape, Prime Finance
                Limited is the go-to choice for anyone looking to invest in this
                exciting and rapidly evolving market.
              </p>
            </div>
          </div>
          <div id="history" class="mt-10">
            <div class="flex flex-row items-start space-x-4">
              <div class="w-20 h-20 rounded-2xl p-2 bg-brightBlue bg-opacity-80">
                <img src="../Images/history.png" alt="This is an Icon" />
              </div>
              <div>
                <h4 class="text-darkBlue mt-6 font-bold text-center text-xl md:text-2xl">
                  History
                </h4>
              </div>
            </div>
            <div class="ml-24">
              <p class="text-darkBlue leading-loose">
                Prime Finance Limited is a leading investment firm specializing
                in cryptocurrency investments. The company was incorporated on 23 Mar 2021 in New Zealand. It was founded by a group of experienced
                professionals with a passion for the potential of
                cryptocurrencies. Since its inception, Prime Finance has been at
                the forefront of the crypto market, helping investors navigate
                the complex world of digital currencies and maximizing their
                returns. With a deep understanding of the technology and the
                market, Prime Finance has become a trusted name in the industry,
                known for its commitment to transparency and security.
              </p>
            </div>
          </div>
          <div id="history" class="mt-10">
            <div class="flex flex-row items-start space-x-4">
              <div class="w-20 h-20 rounded-2xl p-2 bg-brightBlue bg-opacity-80">
                <img src="../Images/culture.png" alt="This is an Icon" />
              </div>
              <div>
                <h4 class="text-darkBlue mt-6 font-bold text-center text-xl md:text-2xl">
                  Culture
                </h4>
              </div>
            </div>
            <div class="ml-24">
              <p class="text-darkBlue leading-loose">
                At Prime Finance Limited, our culture is focused on innovation,
                integrity, and the investors satisfaction. We prioritize staying
                up-to-date with the latest technological advancements and market
                trends, ensuring that our investors have access to the best
                investment opportunities in the crypto space. Transparency and
                accountability are also key aspects of our culture. We
                prioritize clear communication with our investors, providing
                regular updates and insights into their investments.
                Additionally, we place a strong emphasis on security, ensuring
                that our investors' funds are kept safe through rigorous
                protocols and best practices.
              </p>
            </div>
          </div>
           <div class="mt-20 flex flex-col items-center justify-evenly space-y-2 md:space-y-0 md:space-x-2 md:flex-row">
            <div class="w-full md:w-1/3">
              <div class="h-96 mt-5">
                <img class="h-full w-full rounded-2xl hover:scale-110 duration-500" src="Images/about-us-1.jpg" alt="This is an image.">
              </div>
              <div class="h-64 mt-5 rounded-2xl">
                <img class="h-full w-full rounded-2xl hover:scale-110 duration-500" src="Images/about-us-7.jpg" alt="This is an image.">
              </div>
            </div>
            <div class="w-full md:w-1/3">
              <div class="h-80 mt-5  rounded-2xl">
                <img class="h-full w-full rounded-2xl hover:scale-110 duration-500" src="Images/about-us-3.jpg" alt="This is an image.">
              </div>
              <div class="h-80  mt-5 rounded-2xl">
                <img class="h-full w-full rounded-2xl hover:scale-110 duration-500" src="Images/about-us-4.jpg" alt="This is an image.">
              </div>
            </div>
            <div class="w-full md:w-1/3">
              <div class="h-64 mt-5  rounded-2xl">
                <img class="h-full w-full rounded-2xl hover:scale-110 duration-500" src="Images/about-us-5.jpg" alt="This is an image.">
              </div>
              <div class="h-96  mt-5 rounded-2xl">
                <img class="h-full w-full rounded-2xl hover:scale-110 duration-500" src="Images/about-us-6.jpg" alt="This is an image.">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-darkGray flex flex-col items-center justify-center py-20">
        <div class="bg-brightBlue h-32 w-4/5 rounded-2xl">

          <h1
            class="text-3xl text-lightGray font-bold text-center mt-2 md:mt-7 md:text-5xl"
          >
            Why Should I Choose Prime Finance Limited?

          </h1>
        </div>
        <div
          class="mt-10 w-4/5 flex flex-col items-center justify-between md:space-x-8 space-y-4 md:space-y-0 md:flex-row">
          <div class="md:w-1/2 flex flex-col space-y-4 items-center">
            <div id="key1" class="border-brightBlue border-r-2 pr-6">
              <h4 class="text-xl text-darkBlue font-bold md:text-2xl">
                Experienced Management
              </h4>
              <div class="mt-4 flex flex-row space-x-2">

                 <p class="text-opacity-60 text-darkBlue text-sm md:text-base font-bold">
                  Prime Finance Limited has a team of experienced professionals
                  who are knowledgeable about the cryptocurrency market and have
                  a track record of successful investments. This expertise can
                  help guide investors to make informed decisions.
                </p>
                <img class="h-14" src="../Images/management.png" alt="This is an Icon" />
              </div>
            </div>
            <div id="key2" class="border-brightBlue border-r-2 pr-6">
              <h4 class="text-xl text-darkBlue font-bold md:text-2xl">
                Diversified Portfolio
              </h4>
              <div class="mt-4 flex flex-row space-x-2">

                <p
                  class="text-opacity-60 text-darkBlue text-sm md:text-base font-bold"
                >
                  Prime Finance Limited's investment strategy focuses on building
                  a diversified portfolio of cryptocurrencies, which helps
                  reduce risk and maximize returns. This approach also allows
                  investors to benefit from the growth potential of different
                  cryptocurrencies.
                </p>
                <img class="h-14" src="../Images/portfolio.png" alt="This is an Icon" />
              </div>
            </div>
            <div id="key3" class="border-brightBlue border-r-2 pr-6">
              <h4 class="text-xl text-darkBlue font-bold md:text-2xl">
                Security Measures
              </h4>
              <div class="mt-4 flex flex-row space-x-2">

                <p
                  class="text-opacity-60 text-darkBlue text-sm md:text-base font-bold"
                >
                  Prime Finance Limited employs state-of-the-art security

                  measures to protect investors' assets from hacking, theft, and
                  fraud. This includes using encryption techniques, storing
                  funds in cold storage, and regularly auditing their systems.
                </p>
                <img class="h-14" src="../Images/security.png" alt="This is an Icon" />
              </div>
            </div>
            <div id="key4" class="border-brightBlue border-r-2 pr-6">
              <h4 class="text-xl text-darkBlue font-bold md:text-2xl">
                Transparency
              </h4>
              <div class="mt-4 flex flex-row space-x-2">

                <p
                  class="text-opacity-60 text-darkBlue text-sm md:text-base font-bold"
                >
                  Prime Finance Limited provides investors with full transparency
                  regarding their investments, including regular reporting and
                  updates on portfolio performance. This helps investors make
                  informed decisions about their investments.
                </p>
                <img class="h-14" src="../Images/transparency.png" alt="This is an Icon" />
              </div>
            </div>
          </div>
          <div class="md:w-1/2 flex flex-col space-y-4 items-center">
            <div id="key5" class="border-brightBlue border-r-2 pr-6 md:border-none md:pr-6">
              <h4 class="text-xl text-darkBlue font-bold md:text-2xl">
                Liquidity
              </h4>
              <div class="mt-4 flex flex-row space-x-2">

                <p
                  class="text-opacity-60 text-darkBlue text-sm md:text-base font-bold"
                >
                  Prime Finance Limited provides investors with liquidity by
                  allowing them to deposit, withdraw and invest their
                  cryptocurrencies on their platform. This makes it easier for
                  investors to enter and exit the market as they please.
                </p>
                <img class="h-14" src="../Images/liquidity.png" alt="This is an Icon" />
              </div>
            </div>
            <div id="key6" class="border-brightBlue border-r-2 pr-6 md:border-none md:pr-6">
              <h4 class="text-xl text-darkBlue font-bold md:text-2xl">
                Regulatory Compliance
              </h4>
              <div class="mt-4 flex flex-row space-x-2">

                <p
                  class="text-opacity-60 text-darkBlue text-sm md:text-base font-bold"
                >
                  Prime Finance Limited operates in compliance with all relevant
                  regulations and laws. This helps ensure that investors' assets
                  are protected and that the platform operates ethically,
                  transparently and Legally.
                </p>
                <img class="h-14" src="../Images/compliance.png" alt="This is an Icon" />
              </div>
            </div>
            <div id="key7" class="border-brightBlue border-r-2 pr-6 md:border-none md:pr-6">
              <h4 class="text-xl text-darkBlue font-bold md:text-2xl">
                No Fees
              </h4>
              <div class="mt-4 flex flex-row space-x-2">

                <p
                  class="text-opacity-60 text-darkBlue text-sm md:text-base font-bold"
                >
                  Prime Finance Limited does not charge investors any fees for

                  their services, which helps increase returns and make
                  investing easier for everyone. If you encounter any charges
                  during maybe a deposit or withdrawal, it is from your wallet
                  providers.
                </p>
                <img class="h-14" src="../Images/fee.png" alt="This is an Icon" />
              </div>
            </div>
            <div id="key8" class="border-brightBlue border-r-2 pr-6 md:border-none md:pr-6">
              <h4 class="text-xl text-darkBlue font-bold md:text-2xl">
                Access to Expertise
              </h4>
              <div class="mt-4 flex flex-row space-x-2">

                <p
                  class="text-opacity-60 text-darkBlue text-sm md:text-base font-bold"
                >
                  Prime Finance Limited provides investors with access to a team

                  of experts who can provide guidance and advice on the
                  cryptocurrency market. This can help investors make informed
                  decisions and maximize their returns.
                </p>
                <img class="h-14" src="../Images/management.png" alt="This is an Icon" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include("partials/options"); -%>
    </section>
    <%- include("partials/cta"); -%>
      <!-- Footer -->
      <%- include("partials/footer"); -%>
        <script src="../JS/particles.min.js"></script>
        <script src="../JS/aboutUS.js"></script>
</body>

</html>