<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
    <meta
      name="description"
      content="Prime Finance Limited is a cryptocurrency investment website that offers a range of investment plans for individuals looking to grow their crypto assets."
    />
    <meta name="copyright" content="Prime Finance Developers" />
    <meta
      name="keywords"
      content="cryptocurrency investment plans, prime finance limited, prime finance New Zealand, secure crypto investments, prime finance investment options, reliable crypto investment platform, secure crypto investments, investment companies in New Zealand, cryptocurrency investment strategies"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="primefinanceltd.com" />
    <meta property="og:title" content="Prime Finance Limited" />
    <meta
      property="og:description"
      content="Prime Finance Limited is a cryptocurrency investment website that offers a range of investment plans for individuals looking to grow their crypto assets."
    />
    <meta
      property="og:image"
      content="https://www.primefinanceltd.com/Images/Logo.png"
    />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="primefinanceltd.com" />
    <meta property="twitter:title" content="Prime Finance Limited" />
    <meta
      property="twitter:description"
      content="Prime Finance Limited is a cryptocurrency investment website that offers a range of investment plans for individuals looking to grow their crypto assets."
    />
    <meta
      property="twitter:image"
      content="https://www.primefinanceltd.com/Images/Logo.png"
    />

    <!-- Favicon -->
    <link
    rel="shortcut icon"
    href="../Images/logo.ico"
    type="image/x-ico"
  />
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="../CSS/main.css" />
     <!-- Jivo Chat -->
     <script src="//code.jivosite.com/widget/IQVm7Hn4FQ" async></script>
  </head>
  <body>
    <!-- Nav Bar -->
    <%- include("partials/nav"); -%>
    <section id="top">
      <div
        class="flex flex-col justify-evenly md:flex-row relative bg-brightBlue p-10"
      >
        <canvas class="background absolute top-0 right-5"></canvas>
        <div class="z-40">
          <h1 class="text-3xl text-lightGray font-bold mt-10 md:text-4xl">
            Reach Out to Us
          </h1>
          <h4
            class="text-lightGray mt-4 font-bold text-opacity-80 text-base md:text-xl"
          >
            Let's Connect and Explore the World of Crypto Investments Together.
          </h4>
        </div>
        <div class="flex flex-col space-y-1 z-40 mt-10 md:mt-0">
          <div
            class="w-64 h-32 rounded-lg mb-10 bg-lightGray shadow-lg border-2 border-brightBlue flex flex-col items-center p-3"
          >
            <img
              class="h-10"
              src="../Images/transaction.png"
              alt="This is an icon"
            />
            <h4 class="mt-1 font-bold text-2xl text-brightBlue md:text-3xl">
              $91+ Million
            </h4>
            <p class="text-sm md:text-base">Transactions.</p>
          </div>
          <div
            class="w-64 h-32 rounded-lg mb-10 bg-lightGray shadow-lg border-2 border-brightBlue flex flex-col items-center p-3"
          >
            <img
              class="h-10"
              src="../Images/accounts.png"
              alt="This is an icon"
            />
            <h4 class="mt-1 font-bold text-2xl text-brightBlue md:text-3xl">
              40+ Thousand
            </h4>
            <p class="text-sm md:text-base">Active Accounts.</p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div
        class="flex flex-col items-center justify-center mt-10 h-40 bg-darkGray"
      >
        <div class="my-auto">
          <h1 class="text-4xl font-bold text-brightBlue text-center">
            CONTACT US
          </h1>
        </div>
      </div>
      <div
        class="body flex flex-col space-y-4 bg-white -mt-10 mx-auto shadow-2xl md:flex-row md:space-y-0 md:space-x-20"
      >
        <div class="p-4 md:w-1/3 md:ml-10">
          <h2 class="mt-4 text-brightBlue text-2xl font-bold">Details</h2>
          <h4 class="mt-6 text-darkBlue font-bold">Address</h4>
         <a href="https://goo.gl/maps/Ner6N1TMFEVT4WH58" target="_blank" rel="noopener noreferrer"> <p class="mt-2 font-sm text-opacity-80 text-black hover:text-brightBlue">
          Edward Wright, 3.6, 1 Cleveland Road, Parnell, Auckland, 1052, New Zealand
          </p></a>
          <h4 class="mt-4 text-darkBlue font-bold">Email</h4>
          <p class="mt-2 font-sm text-opacity-80 text-black">
            admin@primefinanceltd.com support@primefinanceltd.com
          </p>
        </div>
        <div class="mt-4 p-4 md:w-2/3 ml-10">
          <form
            class="md:mt-4"
            action="mailto:support@cryptotrustlimited.com"
            method="post"
            enctype="text/plain"
          >
            <p>
              <input
                class="border-primaryBlue border-solid border-2 p-1 w-4/5 rounded-lg placeholder:text-center placeholder:font-light placeholder:text-sm placeholder:text-gray-400 focus:outline-darkNavy"
                type="text"
                id="name"
                name="name"
                placeholder="Enter Your Full Name"
                required
              />
            </p>
            <p class="mt-4">
              <input
                class="border-primaryBlue border-solid border-2 p-1 w-4/5 rounded-lg placeholder:text-center placeholder:font-light placeholder:text-sm placeholder:text-gray-400 focus:outline-darkNavy"
                type="text"
                id="email"
                name="email"
                placeholder="Enter Your Email Address"
                required
              />
            </p>
            <p class="mt-4">
              <input
                class="border-primaryBlue border-solid border-2 p-1 w-4/5 rounded-lg placeholder:text-center placeholder:font-light placeholder:text-sm placeholder:text-gray-400 focus:outline-darkNavy"
                type="text"
                id="subject"
                name="subject"
                placeholder="Enter The Subject"
                required
              />
            </p>
            <p class="mt-4">
              <textarea
                placeholder="Enter The Message"
                class="p-4 shadow-2xl w-4/5 h-40 focus:outline-darkNavy placeholder:text-center"
                name="contactMessage"
                id="contactMessage"
              ></textarea>
            </p>
            <p class="mt-6 flex flex-row items-center">
              <input
                type="submit"
                class="py-2 px-10 duration-700 text-darkBlue border-2 border-darkBlue rounded-lg hover:bg-brightBlue hover:border-brightBlue hover:text-lightGray"
                value="Send"
              />
            </p>
          </form>
        </div>
      </div>
    </section>
    <%- include("partials/options"); -%> <%- include("partials/cta"); -%>
    <!-- Footer -->
    <%- include("partials/footer"); -%>
    <!-- Iconic Icon Scripts -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script src="../JS/particles.min.js"></script>
    <script src="../JS/aboutUS.js"></script>
  </body>
</html>
