<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Deposit</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="../Images/logo.ico" type="image/x-ico" />
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <!-- Bootstrap Icon -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
    />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="../CSS/main.css" />
    <!-- Custom JavaScript -->
    <script defer src="../JS/dashboard.js"></script>
    <!-- Jivo Chat -->
    <!-- <script src="//code.jivosite.com/widget/IQVm7Hn4FQ" async></script> -->
  </head>

  <body class="bg-white main">
  <%- include("partials/_alert")%>
    <%- include ("partials/sidebar"); -%>
    <section class="p-2">
      <div class="text-center mt-32">
        <h1 class="flex flex-row items-baseline justify-center text-2xl font-bold md:text-4xl">
           Choose Your Funding Method <img class="h-24 ml-1" src="../Images/fund.png" alt="Fund Icon">
        </h1>
        <h4 class="text-sm text-darkBlue md:text-base mt-2">
        Deposit Funds with Bank Transfer or Cryptocurrency.
        </h4>
      </div>
      <div>
        <form
          class="flex flex-row items-center justify-center space-x-20 mt-32"
          action=""
        >
          <div
            class="flex flex-col justify-center hover:-translate-y-2 duration-500"
          >
            <a class="" href="/user/deposit"
              ><img
                class="h-24"
                src="../Images/crypto.png"
                alt="crypto icon"
            /></a>
            <h4
              class="font-bold text-darkBlue text-base md:text-xl mt-2 text-center"
            >
              Crypto
            </h4>
          </div>
          <div
            class="flex flex-col justify-center hover:-translate-y-2 duration-500"
          >
            <a class="" href="/user/bank"
              ><img
                class="h-24"
                src="../Images/wallet.png"
                alt="Wallet icon"
            /></a>
            <h4
              class="font-bold text-darkBlue text-base md:text-xl mt-2 text-center"
            >
              Bank
            </h4>
          </div>
        </form>
      </div>
    </section>
    <%- include ("partials/script"); -%>
    <script src="../JS/deposit.js"></script>
  </body>
</html>
