<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Frequently Asked Questions</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="../Images/logo.ico" type="image/x-ico" />
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <!-- Font-Awesome -->
    <script
      src="https://kit.fontawesome.com/f5af09e245.js"
      crossorigin="anonymous"
    ></script>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="../CSS/main.css" />
    <!-- Jivo Chat -->
    <!-- <script src="//code.jivosite.com/widget/IQVm7Hn4FQ" async></script> -->
  </head>
  <body class="bg-white dark:bg-lightBlack">
    <!-- Nav Bar -->
    <%- include("partials/nav"); -%>
    <section id="Top">
      <div class="w-full relative h-4/5">
        <div class="w-full absolute bg-darkBlue dark:bg-lightBlue h-96"></div>
        <div
          class="w-full absolute flex flex-col items-center justify-center h-96"
        >
          <h1
            class="dark:text-black text-white text-4xl md:text-5xl text-center font-bold"
          >
            FAQs About SpaceX Shares
          </h1>
          <p
            class="text-xs md:text-sm dark:text-black text-white capitalize mt-2 text-center p-1"
          >
            Find answers to commonly asked questions about investing in SpaceX
            shares.
          </p>
          <div class="aboutUs mt-6 space-x-4 flex px-2">
            <a href="/user/create"><button class="duration-500 text-xs uppercase font-semibold">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                width="24"
                height="24"
              >
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path
                  fill="currentColor"
                  d="M5 13c0-5.088 2.903-9.436 7-11.182C16.097 3.564 19 7.912 19 13c0 .823-.076 1.626-.22 2.403l1.94 1.832a.5.5 0 0 1 .095.603l-2.495 4.575a.5.5 0 0 1-.793.114l-2.234-2.234a1 1 0 0 0-.707-.293H9.414a1 1 0 0 0-.707.293l-2.234 2.234a.5.5 0 0 1-.793-.114l-2.495-4.575a.5.5 0 0 1 .095-.603l1.94-1.832C5.077 14.626 5 13.823 5 13zm1.476 6.696l.817-.817A3 3 0 0 1 9.414 18h5.172a3 3 0 0 1 2.121.879l.817.817.982-1.8-1.1-1.04a2 2 0 0 1-.593-1.82c.124-.664.187-1.345.187-2.036 0-3.87-1.995-7.3-5-8.96C8.995 5.7 7 9.13 7 13c0 .691.063 1.372.187 2.037a2 2 0 0 1-.593 1.82l-1.1 1.039.982 1.8zM12 13a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"
                ></path>
              </svg>
              <span>Open A Free Account</span>
            </button></a>
            <a href="/news"><button class="duration-500 text-xs uppercase font-semibold">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                width="24"
                height="24"
              >
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path
                  fill="currentColor"
                  d="M5 13c0-5.088 2.903-9.436 7-11.182C16.097 3.564 19 7.912 19 13c0 .823-.076 1.626-.22 2.403l1.94 1.832a.5.5 0 0 1 .095.603l-2.495 4.575a.5.5 0 0 1-.793.114l-2.234-2.234a1 1 0 0 0-.707-.293H9.414a1 1 0 0 0-.707.293l-2.234 2.234a.5.5 0 0 1-.793-.114l-2.495-4.575a.5.5 0 0 1 .095-.603l1.94-1.832C5.077 14.626 5 13.823 5 13zm1.476 6.696l.817-.817A3 3 0 0 1 9.414 18h5.172a3 3 0 0 1 2.121.879l.817.817.982-1.8-1.1-1.04a2 2 0 0 1-.593-1.82c.124-.664.187-1.345.187-2.036 0-3.87-1.995-7.3-5-8.96C8.995 5.7 7 9.13 7 13c0 .691.063 1.372.187 2.037a2 2 0 0 1-.593 1.82l-1.1 1.039.982 1.8zM12 13a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"
                ></path>
              </svg>
              <span>Read some news</span>
            </button></a>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="mt-96 p-6 pb-20 flex flex-col space-y-8 bg-darkGray">
        <div class="mt-20 ml-4 text-left md:text-center">
          <h1 class="text-3xl font-bold text-black dark:text-white">
            Frequently Asked Questions On SpaceXShares
          </h1>
          <p class="font-bold mt-2 text-black dark:text-white">
            Get answers to your queries regarding SpaceX shares and investment
            opportunities.
          </p>
        </div>
        <div
          class="flex flex-col items-center justify-center text-sm md:text-base text-white dark:text-black"
        >
          <button
            class="collapsible dark:bg-lightBlue dark:border-lightBlue mt-20 capitalize"
          >
            What Is SpaceXShares?
          </button>
          <div class="content">
            <p class="leading-loose text-darkBlue dark:text-black capitalize">
              SpaceXShares is a subsidiary company of SpaceX that focuses on
              investment and shares. It provides investors with the opportunity
              to invest in SpaceX by purchasing shares of SpaceX stock.
            </p>
          </div>
          <button
            class="collapsible mt-4 dark:bg-lightBlue dark:border-lightBlue capitalize"
          >
            How can I invest in SpaceXShares?
          </button>
          <div class="content">
            <p class="leading-loose text-darkBlue dark:text-black capitalize">
              You can invest in SpaceXShares by purchasing shares of SpaceX
              stock through our brokerage or investment platform that offers the
              ability to trade stock, loan, and invest.
            </p>
          </div>
          <button
            class="collapsible mt-4 dark:bg-lightBlue dark:border-lightBlue capitalize"
          >
            What is the minimum investment for SpaceXShares?
          </button>
          <div class="content">
            <p class="leading-loose text-darkBlue dark:text-black capitalize">
              The minimum investment for SpaceXShares depends on the current
              market price of stock you want to buy or invest in, in our
              brokerage or investment platform.
            </p>
          </div>
          <button
            class="collapsible mt-4 dark:bg-lightBlue dark:border-lightBlue capitalize"
          >
            What is the current market price of SpaceX stock, or any other
            available stock?
          </button>
          <div class="content">
            <p class="leading-loose text-darkBlue dark:text-black capitalize">
              The current market price of SpaceX stock or any other stock can
              vary depending on market conditions and other factors. You can
              check the latest stock price by creating an account, everything
              can be seen in your account.
            </p>
          </div>
          <button
            class="collapsible mt-4 dark:bg-lightBlue dark:border-lightBlue capitalize"
          >
            What are the benefits of investing in SpaceXShares?
          </button>
          <div class="content">
            <p class="leading-loose text-darkBlue dark:text-black capitalize">
              Investing in SpaceXShares provides you with the opportunity to
              participate in the future of space exploration and technology.
              SpaceX is a forward-thinking company with a track record of
              innovation and success, and investing in SpaceXShares offers you
              the potential for long-term financial growth.
            </p>
          </div>
          <button
            class="collapsible mt-4 dark:bg-lightBlue dark:border-lightBlue capitalize"
          >
            What are the risks of investing in SpaceXShares?
          </button>
          <div class="content">
            <p class="leading-loose text-darkBlue dark:text-black capitalize">
              Like all investments, investing in SpaceXShares carries some level
              of risk. The value of your investment may fluctuate based on
              market conditions, and there is always the possibility of losing
              money. Nevertheless, we have our damage control systems and all.
            </p>
          </div>
          <button
            class="collapsible mt-4 dark:bg-lightBlue dark:border-lightBlue capitalize"
          >
            What is SpaceX's vision for the future of space exploration?
          </button>
          <div class="content">
            <p class="leading-loose text-darkBlue dark:text-black capitalize">
              SpaceX's vision is to enable humans to become a spacefaring
              civilization by developing and deploying advanced rockets and
              spacecraft. The company aims to make space travel more accessible
              and affordable for everyone, with the ultimate goal of colonizing
              Mars.
            </p>
          </div>
          <button
            class="collapsible mt-4 dark:bg-lightBlue dark:border-lightBlue capitalize"
          >
            How does SpaceX plan to achieve its vision?
          </button>
          <div class="content">
            <p class="leading-loose text-darkBlue dark:text-black capitalize">
              SpaceX plans to achieve its vision through a combination of
              innovative technology development, strategic partnerships, and
              careful financial management. The company is focused on developing
              advanced rockets and spacecraft that are reusable and
              cost-effective, as well as building a strong ecosystem of partners
              and suppliers.
            </p>
          </div>
          <button
            class="collapsible mt-4 dark:bg-lightBlue dark:border-lightBlue capitalize"
          >
            What has SpaceX accomplished so far?
          </button>
          <div class="content">
            <p class="leading-loose text-darkBlue dark:text-black capitalize">
              SpaceX has accomplished numerous milestones in its history,
              including launching the first privately funded liquid-fueled
              rocket to orbit, developing reusable rockets and spacecraft,
              launching cargo and astronauts to the International Space Station,
              and developing a satellite internet service called Starlink.
            </p>
          </div>
          <button
            class="collapsible mt-4 dark:bg-lightBlue dark:border-lightBlue capitalize"
          >
            How can I stay up-to-date on SpaceX and SpaceXShares?
          </button>
          <div class="content">
            <p class="leading-loose text-darkBlue dark:text-black capitalize">
              You can stay up-to-date on SpaceX and SpaceXShares by following
              the company's official social media accounts, following our
             <a class="hover:underline duration-500" href="/news" target="_blank" rel="noopener noreferrer">financial news sources,</a> and keeping an eye on the stock price.
              Additionally, SpaceX may provide regular updates on its progress
              and financial performance through press releases and investor
              reports.
            </p>
          </div>
        </div>
      </div>
    </section>
    <%- include("partials/cta1"); -%>
    <!-- Footer -->
    <%- include("partials/footer"); -%>
    <!-- Iconic Icon Scripts -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script src="../JS/faq.js"></script>
  </body>
</html>
