<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Forgot Password</title>
  <!-- Favicon -->
  <link
  rel="shortcut icon"
  href="../Images/logo.ico"
  type="image/x-ico"
/>
  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700;800&display=swap"
    rel="stylesheet" />
  <!-- Stylesheet -->
  <link rel="stylesheet" href="../CSS/main.css" />
  <!-- Jivo Chat -->
  <!-- <script src="//code.jivosite.com/widget/IQVm7Hn4FQ" async></script> -->
</head>

<body class="loginBody">
<%- include("partials/_alert")%>
  <section id="main-section">

    <div class="flex flex-col items-center h-screen w-screen justify-center ">
      <div
        class=" w-96 h-2/4 bg-white text-center shadow-2xl ease-in-out duration-500 hover:shadow-none">
        <img class="w-14 mx-auto mt-4" src="../Images/Logo.png" alt="SpaceX shares Logo" />
        <h1 class="text-3xl font-extrabold mt-4 text-brightBlue">Forgot Password</h1>
        <form action="/user/forgot-password" method="post">
          <p class="mt-14">
            <input
              class="bg-darkWhite border-primaryBlue border-solid border-2 ml-1 px-6 py-3 w-80 placeholder:font-light placeholder:text-sm placeholder:text-gray-400 focus:outline-darkBlue"
              type="email" id="email" name="email" placeholder="Enter Your Email Address" required />
          </p>
          <p class="mt-8"> <button type="submit"
              class="py-2 w-80 duration-700 text-darkBlue border-2 border-darkBlue dark:border-lightBlue baseline hover:bg-darkBlue dark:hover:bg-lightBlue hover:text-white">Get
              Password</button></p> </form>
          <p class="mt-6 space-x-16"> <a class="text-sm hover:text-darkBlue text-black" href="/user/login">Login</a> <a
              class="text-sm hover:text-darkBlue text-black" href="/">Home</a>
          </p>
      </div>
    </div>
  </section>
  <script src="../JS/form.js"></script>
</body>

</html>