<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Legal</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="../Images/logo.ico" type="image/x-ico" />
<meta name ="description" content ="Prime Finance Limited is a cryptocurrency investment website that offers a range of investment plans for individuals looking to grow their crypto assets."/>
<meta name ="copyright" content ="Prime Finance Developers"/>
<meta name ="keywords" content ="cryptocurrency investment plans, prime finance limited, prime finance New Zealand, secure crypto investments, prime finance investment options, reliable crypto investment platform, secure crypto investments, investment companies in New Zealand, cryptocurrency investment strategies"/>
<meta property ="og:type" content ="website"/>
<meta property ="og:url" content ="primefinanceltd.com"/>
<meta property ="og:title" content ="Prime Finance Limited"/>
<meta property ="og:description" content ="Prime Finance Limited is a cryptocurrency investment website that offers a range of investment plans for individuals looking to grow their crypto assets."/>
<meta property ="og:image" content ="https://www.primefinanceltd.com/Images/Logo.png"/>
<meta property ="twitter:card" content ="summary_large_image"/>
<meta property ="twitter:url" content ="primefinanceltd.com"/>
<meta property ="twitter:title" content ="Prime Finance Limited"/>
<meta property ="twitter:description" content ="Prime Finance Limited is a cryptocurrency investment website that offers a range of investment plans for individuals looking to grow their crypto assets."/>
<meta property ="twitter:image" content ="https://www.primefinanceltd.com/Images/Logo.png"/>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <!-- Font-Awesome -->
    <script
      src="https://kit.fontawesome.com/f5af09e245.js"
      crossorigin="anonymous"
    ></script>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="../CSS/main.css" />
     <!-- Jivo Chat -->
     <script src="//code.jivosite.com/widget/IQVm7Hn4FQ" async></script>
  </head>
  <body>
    <!-- Nav Bar -->
    <%- include("partials/nav"); -%>
    <section id="top">
      <div
        class="flex flex-col justify-evenly md:flex-row relative bg-brightBlue p-10"
      >
        <canvas class="background absolute top-0 right-5"></canvas>
        <div class="z-40">
          <h1 class="text-3xl text-lightGray font-bold mt-10 md:text-4xl">
            Legal Information
          </h1>
          <h4
            class="text-lightGray mt-4 font-bold text-opacity-80 text-base md:text-xl"
          >
            Certificate of Incorporation, Terms and Conditions, Privacy Policy,
            and Risk Disclosure Statement.
          </h4>
        </div>
        <div class="flex flex-col space-y-1 z-40 mt-10 md:mt-0">
          <div
            class="w-64 h-32 rounded-lg mb-10 bg-lightGray shadow-lg border-2 border-brightBlue flex flex-col items-center p-3"
          >
            <img
              class="h-10"
              src="../Images/transaction.png"
              alt="This is an icon"
            />
            <h4 class="mt-1 font-bold text-2xl text-brightBlue md:text-3xl">
              $91+ Million
            </h4>
            <p class="text-sm md:text-base">Transactions.</p>
          </div>
          <div
            class="w-64 h-32 rounded-lg mb-10 bg-lightGray shadow-lg border-2 border-brightBlue flex flex-col items-center p-3"
          >
            <img
              class="h-10"
              src="../Images/accounts.png"
              alt="This is an icon"
            />
            <h4 class="mt-1 font-bold text-2xl text-brightBlue md:text-3xl">
              40+ Thousand
            </h4>
            <p class="text-sm md:text-base">Active Accounts.</p>
          </div>
        </div>
      </div>
    </section>
    <section id="body">
      <div class="bg-darkGray flex flex-col items-center justify-center">
        <div class="w-4/5 my-10 md:my-20">
          <div class="text-darkBlue bg-lightGray rounded-2xl p-6">
            <h1 class="text-2xl font-bold md:text-4xl">
              Our Legal Information
            </h1>
            <p class="text-opacity-50 text-sm mt-8 md:text-base">
              PRIME FINANCE LIMITED (Company No: 8172444) was incorporated on 23 Mar 2021 in New Zealand.
              The company is located at Edward Wright, 3.6, 1 Cleveland Road, Parnell, Auckland, 1052, New Zealand. The registration process involves submitting the
              company's details and paying the necessary fees. We followed this
              process and provided information such as the company's name,
              registered office address, details of its directors and
              shareholders, and its business activities. Once the registration
              was completed, the New Zealand Companies Office issued a
              Certificate of Incorporation. This certificate serves as proof
              that the company has been legally registered and recognized as a
              separate legal entity under New Zealand law.
            </p>
            <p class="text-opacity-50 text-sm mt-4 md:mt-8 md:text-base">
              As a registered company, we comply with the New Zealand's legal
              and regulatory requirements. This includes filing annual financial
              statements and other reports with the New Zealand Companies
              Office, and adhering to various laws and regulations related to
              securities, taxation, and other business practices.The fact that
              we has been issued a Certificate of Incorporation by the New
              Zealand government indicates that the company has met the
              necessary legal and regulatory requirements to operate as a
              legitimate business in New Zealand. This would provide reassurance
              to potential investors that the company is a
              <span class="font-bold text-brightBlue"
                >CREDIBLE and TRUSTWORTHY</span
              >
              investment opportunity.
            </p> 
            <div class="mt-20 flex flex-row justify-center space-x-8">
              <button
              id="showBtn"
                class="flex flex-row items-center p-3 px-5 pt-3 font-bold border-2 border-lightGreen rounded-2xl bg-lightGreen animate-bounce text-lightGray"
              >
                See Certificate<ion-icon
                  class="text-3xl ml-1"
                  name="document-text-outline"
                ></ion-icon>
              </button>
              <a href="https://newzealand-company.com/co/prime-finance-limited-1" target="_blank" rel="noopener noreferrer"
                class="flex flex-row items-center p-3 px-5 pt-3 font-bold border-2 border-lightGreen rounded-2xl bg-lightGreen animate-bounce text-lightGray"
              >
                Registered Info<ion-icon class="text-3xl ml-1" name="earth-outline"></ion-icon>
            </a>
            </div>
            <img id="certificate" class="hidden mx-auto mt-10 w-1/2 shadow-2xl" src="../Images/certificate.jpg" alt="Certificate Of Incorporation">
          </div>
          <div class="text-darkBlue bg-lightGray rounded-2xl p-6">
            <h1 class="text-xl font-bold md:text-3xl">Privacy Policy</h1>
            <p class="text-opacity-50 text-sm mt-2 md:text-base">
              The company will collect personal information such as name,
              address, email, and financial information for investment purposes.
              The collected information will be securely stored and protected
              from unauthorized access. The company may use collected
              information to send updates, promotional material and other
              relevant information, but investors have the option to opt-out of
              such communications. The company will not sell or share personal
              information to third-party companies without explicit consent from
              the investor.
            </p>
            <h1 class="text-xl font-bold mt-8 md:text-3xl">Terms And Conditions</h1>
            <p class="text-opacity-50 text-sm mt-2 md:text-base">
              Investors must be of legal age and meet the necessary eligibility
              requirements to invest. Investors are responsible for the accuracy
              of their personal information and must keep it up-to-date. The
              company will not be responsible for any losses or damages incurred
              from investments made through the platform. Investors must comply
              with all relevant laws and regulations when using the platform.
              The company strives to provide accurate information, but does not
              guarantee the accuracy or completeness of any information
              provided. The company reserves the right to modify or terminate
              its services at any time without prior notice.
            </p>
            <h1 class="text-xl font-bold mt-8 md:text-3xl">Anti-Spam Policy</h1>
            <p class="text-opacity-50 text-sm mt-2 md:text-base">
              The company strictly prohibits sending unsolicited emails,
              messages or any other forms of spam. Investors found to be
              engaging in spam activities will have their accounts terminated
              without prior notice. The company may take legal action against
              those who engage in spam activities and violate the anti-spam
              policy.
            </p>
          </div>
          <div
          class="rounded-3xl border-2 mt-20 border-brightBlue flex flex-col md:flex-row"
        >
          <div class="md:w-1/2 p-6 my-auto">
            <h1 class="text-2xl text-veryDarkGray font-bold md:text-4xl">
              Get Answers to
              <span class="border-b-4 border-brightBlue"> Your Questions</span>
            </h1>
            <h4 class="text-darkBlue mt-6 font-bold text-sm md:text-base">
              We're Here to Help - Explore Our Frequently Asked Questions (FAQs)
              or Contact Us for Personalized Support.
            </h4>
            <a
              href=""
              class="mt-6 flex flex-row items-center w-44 p-3 px-5 font-bold border-2 border-brightBlue rounded-full bg-brightBlue duration-700 text-lightGray hover:text-darkBlue hover:text-veryDarkGray hover:bg-white"
              >Contact Us<ion-icon
                class="text-3xl ml-1"
                name="help-circle-outline"
              ></ion-icon>
            </a>
          </div>
          <div class="md:w-1/2">
            <img src="../Images/question1.png" alt="This is a question Image" />
          </div>
        </div>
        </div>
      </div>
    </section>
    <%- include("partials/options"); -%> <%- include("partials/cta"); -%>
    <%-include("partials/footer"); -%>
    <!-- Iconic Icon Scripts -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script src="../JS/particles.min.js"></script>
    <script src="../JS/legal.js"></script>
  </body>
</html>
