<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link rel="shortcut icon" href="../Images/logo.ico" type="image/x-ico" />
  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700;800&display=swap"
    rel="stylesheet" />
  <!-- Font-Awesome -->
  <script src="https://kit.fontawesome.com/f5af09e245.js" crossorigin="anonymous"></script>
  <!-- Stylesheet -->
  <link rel="stylesheet" href="../CSS/main.css" />
  <link rel="stylesheet" href="../CSS/toast.css">
  <!-- Jivo Chat -->
  <script src="//code.jivosite.com/widget/IQVm7Hn4FQ" async></script>
</head>

<body class="loginBody h-full">

  <%- include("partials/_alert")%>

    <section id="main-section">
      <div class="flex items-center justify-center w-screen h-screen">
        <div class="w-96 pb-2 bg-white text-center shadow-2xl ease-in-out duration-500 hover:shadow-none">
          <img class="w-40 mx-auto mt-4" src="../Images/Logo.png" alt="SpaceX shares Logo" />
          <h1 class="text-4xl mt-4 text-darkBlue font-extrabold">Login</h1>
          <p class="text-sm mt-2 text-brightBlue">Welcome Back</p>


          <form action="/user/login" method="post" id="login">
            <p class="mt-10">
              <input
                class="bg-white border-darkBlue dark:border-lightBlue border-solid border-2 ml-1 px-6 py-2 w-80 placeholder:font-light placeholder:text-sm placeholder:text-gray-400 focus:outline-darkBlue"
                type="email" id="email" name="email" placeholder="Enter Your Email Address" required />
            </p>

            <p class="mt-6 flex justify-center mr-2">
              <input
                class="bg-white border-darkBlue dark:border-lightBlue border-solid border-2 ml-1 px-6 py-2 w-80 placeholder:font-light placeholder:text-sm placeholder:text-gray-400 focus:outline-darkBlue"
                type="password" id="myPassword" name="password" placeholder="Enter Your Password" required />
              <i class="fas fa-eye -ml-6 mt-3.5" id="eye" onclick="myFunction()"></i>
            </p>

            <p class="mt-6">
              <button type="submit"
                class="flex flex-row mx-auto justify-center items-center py-2 px-10 w-80 duration-500 text-darkBlue border-2 border-darkBlue dark:border-lightBlue hover:bg-darkBlue hover:dark:bg-lightBlue hover:text-white">Login
                <ion-icon class="text-3xl ml-4" name="enter-outline"></ion-icon></button>
            </p>

            <p class="mt-4 space-x-16">
              <a class="text-sm text-black hover:text-darkBlue" href="/user/forgot-password">Forgot Password</a>
              <a class="text-sm text-black hover:text-darkBlue" href="/user/create">Create Account</a>
            </p>
          </form>

        </div>
      </div>
    </section>
    <!-- Iconic Icon Scripts -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="../JS/form.js"></script>
</body>

</html>