<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="../Images/logo.ico" type="image/x-ico" />
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <!-- Font-Awesome -->
    <script
      src="https://kit.fontawesome.com/f5af09e245.js"
      crossorigin="anonymous"
    ></script>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="../CSS/main.css" />
    <!-- Jivo Chat -->
    <!-- <script src="//code.jivosite.com/widget/IQVm7Hn4FQ" async></script> -->
  </head>
  <body class="bg-white dark:bg-lightBlack">
    <%- include("partials/nav"); -%>
    <section id="Theme Selection">
      <div
        class="w-14 h-14 rounded-full bg-white dark:bg-black fixed top-20 left-2 z-30 flex justify-center items-center"
      >
        <ion-icon
          class="text-3xl text-black dark:text-white sun-icon hover:cursor-pointer"
          name="sunny"
        ></ion-icon>
        <ion-icon
          class="text-3xl text-black dark:text-white moon-icon hover:cursor-pointer"
          name="moon"
        ></ion-icon>
      </div>
    </section>
    <section id="Main Body">
      <h1 class="text-black dark:text-white text-2xl md:text-4xl mt-10 mb-4">
        <%=title%>
      </h1>
      <p class="text-grey capitalize leading-relaxed"><%=content%></p>
    </section>
    <script src="../JS/news.js"></script>
    <!-- Iconic Icon Scripts -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
