<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <!-- Favicon -->
    <link
    rel="shortcut icon"
    href="../../Images/logo.ico"
    type="image/x-ico"
  />
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700;800&display=swap"
        rel="stylesheet" />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="../../CSS/main.css" />
     <!-- Jivo Chat -->
     <script src="//code.jivosite.com/widget/IQVm7Hn4FQ" async></script>
</head>

<body class="loginBody">
<%- include("partials/_alert")%>
    <section id="main-section" class="m-0 p-0 relative min-h-[100vh] min-w-[100vw] bg-white">
        <form method="post"
            class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 p-2 bg-lightGray grid min-w-[90%] sm:min-w-[70%] md:min-w-[30rem]">
            <h1 class="text-3xl text-center mt-4 text-brightBlue font-extrabold">Reset Your Password</h1>
            <p class="mt-6 flex justify-center mr-2">
                <input
                  class="bg-white border-primaryBlue border-solid border-2 ml-1 py-2 px-6 w-80 placeholder:text-center placeholder:font-light placeholder:text-sm placeholder:text-gray-400 focus:outline-brightBlue"
                  type="password" id="myPassword" name="password" placeholder="Enter Your New Password" required />
                <i class="fas fa-eye -ml-6 mt-3.5" id="eye" onclick="myFunction()"></i>
              </p>
              <p class="mt-6 flex justify-center mr-2">
                <input
                  class="bg-white border-primaryBlue border-solid border-2 ml-1 py-2 px-6 w-80 placeholder:text-center placeholder:font-light placeholder:text-sm placeholder:text-gray-400 focus:outline-brightBlue"
                  type="password" id="myPassword1" name="confirmPassword" placeholder="Confirm Your New Password" required />
                <i class="fas fa-eye -ml-6 mt-3.5" id="eye1" onclick="myFunction1()"></i>
              </p>
            <input type="hidden" name="resetToken" value="<%=resetToken%>">
            <p class="my-6">
                <button type="submit"
                  class="flex flex-row mx-auto justify-center items-center py-2 px-10 w-80 duration-500 text-darkBlue border-2 border-brightBlue hover:bg-brightBlue hover:text-lightGray">Confirm</button>
              </p>
        </form>
    </section>
    <script src="../../JS/form.js"></script>
</body>

</html>