<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Services</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="../Images/logo.ico" type="image/x-ico" />
<meta name ="description" content ="Prime Finance Limited is a cryptocurrency investment website that offers a range of investment plans for individuals looking to grow their crypto assets."/>
<meta name ="copyright" content ="Prime Finance Developers"/>
<meta name ="keywords" content ="cryptocurrency investment plans, prime finance limited, prime finance New Zealand, secure crypto investments, prime finance investment options, reliable crypto investment platform, secure crypto investments, investment companies in New Zealand, cryptocurrency investment strategies"/>
<meta property ="og:type" content ="website"/>
<meta property ="og:url" content ="primefinanceltd.com"/>
<meta property ="og:title" content ="Prime Finance Limited"/>
<meta property ="og:description" content ="Prime Finance Limited is a cryptocurrency investment website that offers a range of investment plans for individuals looking to grow their crypto assets."/>
<meta property ="og:image" content ="https://www.primefinanceltd.com/Images/Logo.png"/>
<meta property ="twitter:card" content ="summary_large_image"/>
<meta property ="twitter:url" content ="primefinanceltd.com"/>
<meta property ="twitter:title" content ="Prime Finance Limited"/>
<meta property ="twitter:description" content ="Prime Finance Limited is a cryptocurrency investment website that offers a range of investment plans for individuals looking to grow their crypto assets."/>
<meta property ="twitter:image" content ="https://www.primefinanceltd.com/Images/Logo.png"/>

<!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <!-- Font-Awesome -->
    <script
      src="https://kit.fontawesome.com/f5af09e245.js"
      crossorigin="anonymous"
    ></script>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="../CSS/main.css" />
     <!-- Jivo Chat -->
     <script src="//code.jivosite.com/widget/IQVm7Hn4FQ" async></script>
  </head>
  <body>
    <!-- Nav Bar -->
    <%- include("partials/nav"); -%>
    <section id="top">
      <div
        class="flex flex-col justify-evenly md:flex-row relative bg-brightBlue p-10"
      >
        <canvas class="background absolute top-0 right-5"></canvas>
        <div class="z-40">
          <h1 class="text-3xl text-lightGray font-bold mt-10 md:text-4xl">
            Services
          </h1>
          <h4
            class="text-lightGray mt-4 font-bold text-opacity-80 text-base md:text-xl"
          >
            Prime Finance Limited's Comprehensive Crypto Services.
          </h4>
        </div>
        <div class="flex flex-col space-y-1 z-40 mt-10 md:mt-0">
          <div
            class="w-64 h-32 rounded-lg mb-10 bg-lightGray shadow-lg border-2 border-brightBlue flex flex-col items-center p-3"
          >
            <img
              class="h-10"
              src="../Images/transaction.png"
              alt="This is an icon"
            />
            <h4 class="mt-1 font-bold text-2xl text-brightBlue md:text-3xl">
              $91+ Million
            </h4>
            <p class="text-sm md:text-base">Transactions.</p>
          </div>
          <div
            class="w-64 h-32 rounded-lg mb-10 bg-lightGray shadow-lg border-2 border-brightBlue flex flex-col items-center p-3"
          >
            <img
              class="h-10"
              src="../Images/accounts.png"
              alt="This is an icon"
            />
            <h4 class="mt-1 font-bold text-2xl text-brightBlue md:text-3xl">
              40+ Thousand
            </h4>
            <p class="text-sm md:text-base">Active Accounts.</p>
          </div>
        </div>
      </div>
    </section>
    <section id="body">
      <div class="bg-darkGray flex flex-col items-center justify-center">
        <div class="w-4/5 my-10 md:my-20">
          <div
            class="p-6 flex flex-col mx-auto items-center space-y-4 justify-evenly md:space-x-4 md:space-y-0 md:flex-row"
          >
            <div class="w-full md:w-2/3 rounded-2xl p-4">
              <h1 class="text-darkBlue font-bold text-2xl md:text-4xl">
                <span class="text-brightBlue">Trustworthy </span> Crypto
                Services for All.
              </h1>
              <h4 class="text-base text-darkBlue mt-4 md:text-xl">
                Partner with Prime Finance Limited for Expert Crypto Investment
                Services and Cutting-Edge Security Solutions to Protect Your
                Digital Assets and Maximize Your Returns.
              </h4>
            </div>
            <div class="w-full md:w-1/3 bg-lightGray rounded-2xl p-6 shadow-xl">
              <h1 class="text-darkBlue font-bold text-base md:text-2xl">
                Investors #1 Choice.
              </h1>
              <h4 class="text-darkBlue text-sm mt-4 md:text-base">
                Trust the Leaders in Crypto Investment and Financial Management
                - Prime Finance Limited, Your Partner for Success.
              </h4>
              <div class="mt-4">
                <a
                  href="/user/create"
                  class="flex flex-row items-center w-32 p-3 px-5 pt-3 font-bold text-white border-2 border-lightGreen rounded-2xl bg-lightGreen duration-700 hover:animate-bounce hover:text-lightGray"
                  >Invest<ion-icon class="text-3xl ml-1" name="cash-outline"></ion-icon></a>
              </div>
            </div>
          </div>
          <div
            class="py-10 px-8 mt-20 bg-lightGray mx-auto rounded-2xl flex flex-col space-y-4"
          >
          <h1 class="text-2xl text-darkBlue font-bold text-center my-10 md:text-4xl">Our <span class="text-brightBlue">Services</span></h1>
            <div
              id="row1"
              class="flex flex-col items-center mx-auto space-y-4 md:flex-row md:space-x-8 md:space-y-0"
            >
              <div class="md:w-1/2 w-full text-center">
                <img
                  class="shadow-xl rounded-2xl"
                  src="../Images/forex.jpg"
                  alt="This is an image"
                />
                <h1 class="text-xl mt-4 font-bold text-darkBlue md:text-3xl">
                  Forex Trading
                </h1>
                <p class="mt-4 text-sm text-darkBlue text-opacity-50 md:text-base">
                  Prime Finance Limited offers forex trading services by allowing
                  clients to trade currencies through their platform with
                  competitive spreads and leverage options, while also providing
                  analysis and market insights to aid trading decisions.
                </p>
              </div>
              <div class="md:w-1/2 w-full text-center">
                <img
                  class="shadow-xl rounded-2xl"
                  src="../Images/real-estate.jpg"
                  alt="This is an image"
                />
                <h1 class="text-xl mt-4 font-bold text-darkBlue md:text-3xl">
                  Real Estate
                </h1>
                <p class="mt-4 text-sm text-darkBlue text-opacity-50 md:text-base">
                  Through Real Estate Investment Trusts (REITs), Prime Finance
                  Limited allows clients to invest in a diversified portfolio of
                  income-producing properties, offering potential rental income
                  and capital appreciation.
                </p>
              </div>
            </div>
            <div
              id="row2"
              class="flex flex-col items-center mx-auto space-y-4 md:flex-row md:space-x-8 md:space-y-0"
            >
              <div class="md:w-1/2 text-center w-full">
                <img
                  class="shadow-xl rounded-2xl"
                  src="../Images/gold.jpg"
                  alt="This is an image"
                />
                <h1 class="text-xl mt-4 font-bold text-darkBlue md:text-3xl">
                  Gold Investments
                </h1>
                <p class="mt-4 text-sm text-darkBlue text-opacity-50 md:text-base">
                  Clients can invest in physical gold through Prime Finance
                  Limited, either through purchasing physical gold or through
                  gold-backed investment products, with the option of storage in
                  secure vaults.
                </p>
              </div>
              <div class="md:w-1/2 text-center w-full">
                <img
                  class="shadow-xl rounded-2xl"
                  src="../Images/retirement.jpg"
                  alt="This is an image"
                />
                <h1 class="text-xl mt-4 font-bold text-darkBlue md:text-3xl">
                  Retirement Planing
                </h1>
                <p class="mt-4 text-sm text-darkBlue text-opacity-50 md:text-base">
                  Prime Finance Limited offers retirement planning services to
                  clients, providing access to investment products such as
                  mutual funds, annuities, and ETFs, and creating customized
                  retirement plans based on individual financial goals.
                </p>
              </div>
            </div>
            <div
              id="row3"
              class="flex flex-col items-center mx-auto space-y-4 md:flex-row md:space-x-8 md:space-y-0"
            >
              <div class="md:w-1/2 text-center w-full">
                <img
                  class="shadow-xl rounded-2xl"
                  src="../Images/medical.jpg"
                  alt="This is an image"
                />
                <h1 class="text-xl mt-4 font-bold text-darkBlue md:text-3xl">
                  Medical Cannabis
                </h1>
                <p class="mt-4 text-sm text-darkBlue text-opacity-50 md:text-base">
                  Clients can invest in the medical cannabis industry through
                  Prime Finance Limited, which offers a range of investment
                  products and opportunities, including cannabis stocks,
                  cannabis ETFs, and cannabis-focused mutual funds.
                </p>
              </div>
              <div class="md:w-1/2 text-center w-full">
                <img
                  class="shadow-xl rounded-2xl"
                  src="../Images/crptocurrency.jpg"
                  alt="This is an image"
                />
                <h1 class="text-xl mt-4 font-bold text-darkBlue md:text-3xl">
                  Cryptocurrencies
                </h1>
                <p class="mt-4 text-sm text-darkBlue text-opacity-50 md:text-base">
                  Prime Finance Limited allows clients to invest in
                  cryptocurrencies through their platform, offering access to a
                  range of popular digital currencies and the ability to trade
                  them through their secure and user-friendly platform.
                </p>
              </div>
            </div>
            <div
              id="row4"
              class="flex flex-col items-center mx-auto space-y-4 md:flex-row md:space-x-8 md:space-y-0"
            >
              <div class="md:w-1/2 text-center w-full">
                <img
                  class="shadow-xl rounded-2xl"
                  src="../Images/finance.jpg"
                  alt="This is an image"
                />
                <h1 class="text-xl mt-4 font-bold text-darkBlue md:text-3xl">
                  Financial Planing
                </h1>
                <p class="mt-4 text-sm text-darkBlue text-opacity-50 md:text-base">
                  Prime Finance Limited offers financial planning services to
                  help clients reach their financial goals, providing customized
                  investment plans, portfolio analysis, and access to a range of
                  investment products, including stocks, bonds, and mutual
                  funds.
                </p>
              </div>
              <div class="md:w-1/2 text-center w-full">
                <img
                  class="shadow-xl rounded-2xl"
                  src="../Images/oil.jpg"
                  alt="This is an image"
                />
                <h1 class="text-xl mt-4 font-bold text-darkBlue md:text-3xl">
                  Oil and Gas
                </h1>
                <p class="mt-4 text-sm text-darkBlue text-opacity-50 md:text-base">
                  Through partnerships with major oil and gas companies, Prime Finance Limited offers investment opportunities in the energy
                  sector, with options to invest in exploration, production, and
                  distribution projects.
                </p>
              </div>
            </div>
            <div
              id="row5"
              class="flex flex-col items-center mx-auto space-y-4 md:flex-row md:space-x-8 md:space-y-0"
            >
              <div class="md:w-1/2 text-center w-full">
                <img
                  class="shadow-xl rounded-2xl"
                  src="../Images/loan.jpg"
                  alt="This is an image"
                />
                <h1 class="text-xl mt-4 font-bold text-darkBlue md:text-3xl">
                  Loans and Grants
                </h1>
                <p class="mt-4 text-sm text-darkBlue text-opacity-50 md:text-base">
                  Prime Finance Limited offers a range of loan and grant programs
                  to clients, including small business loans, personal loans,
                  and student loans, as well as grant opportunities for
                  entrepreneurs and non-profit organizations.
                </p>
              </div>
              <div class="md:w-1/2 text-center w-full">
                <img
                  class="shadow-xl rounded-2xl"
                  src="../Images/stock.jpg"
                  alt="This is an image"
                />
                <h1 class="text-xl mt-4 font-bold text-darkBlue md:text-3xl">
                  Stock and Shares
                </h1>
                <p class="mt-4 text-sm text-darkBlue text-opacity-50 md:text-base">
                  Clients can invest in stocks and shares through Prime Finance
                  Limited, with access to a range of investment products,
                  including individual stocks, mutual funds, and exchange-traded
                  funds (ETFs), as well as analysis and market insights to aid
                  investment decisions.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include("partials/options"); -%> <%- include("partials/cta"); -%> 
    <%-include("partials/footer"); -%>
    <!-- Iconic Icon Scripts -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script src="../JS/particles.min.js"></script>
    <script src="../JS/aboutUS.js"></script>
  </body>
</html>
