<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Bonus</title>
  </head>
  <body style="font-family: Arial, sans-serif;">
    <div style="background-color: #F2F2F2; padding: 20px;">
      <img
      style="height: 30px; text-align: center;"
      src="https://res.cloudinary.com/dy1vmspui/image/upload/v1683285727/Logo_ylagwj.png"
      alt="This is the SpaceXShares Logo"
      />
      <h4 style="text-align: left;">Congratulation Stakeholder <%= name %></h4>
    </div>
    <div style="max-width: 600px; margin: 0 auto; padding: 20px;">        
       <p>We are pleased to inform you that a bonus of <span style="font-weight: bold; color: #0D47A1;">$<% amount %> </span> has been added to your account.</p>
       <p>Thank you for being a valued customer!</p> 
      <a href="https://www.spacexshares.net/user/dashboard" style="background-color: #0D47A1; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;">Access Your Dashboard</a>
    <p>Contact the ADMIN at admin@spacexshares.net</p>
	</div>
  </body>
</html>
