<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Deposit</title>
  </head>
  <body style="font-family: Arial, sans-serif;">
    <div style="background-color: #F2F2F2; padding: 20px;">
      <img
      style="height: 30px; text-align: center;"
      src="https://res.cloudinary.com/dy1vmspui/image/upload/v1683285727/Logo_ylagwj.png"
      alt="This is the SpaceXShares Logo"
      />
      <h4 style="text-align: left;">Dear Stakeholder <%= name %></h4>
    </div>
    <div style="max-width: 600px; margin: 0 auto; padding: 20px;">
	<p> Thank you for your recent deposit of <span style="font-weight: bold; color: #0D47A1;">$<%= amount %></span> to your investment account. Your deposit has been received and will be credited to your account. </p>

	<p>	We appreciate your trust in our platform and look forward to helping you achieve your investment goals. If you have any questions or need assistance, please don't hesitate to contact us. We are always happy to help. </p>
		
	<p>	Thank you again for choosing us. </p>
      <a href="https://www.spacexshares.net/user/dashboard" style="background-color: #0D47A1; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;">Access Your Dashboard</a>
    <p>Contact the ADMIN at admin@spacexshares.net</p>
	</div>
  </body>
</html>
