<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
  </head>
  <body style="font-family: Arial, sans-serif;">
    <div style="background-color: #F2F2F2; padding: 20px;">
      <img
      style="height: 30px; text-align: center;"
          src="https://www.primefinanceltd.com/Images/Logo.png"
          alt="This is the Prime Finance Limited Logo"
      />
      <h4 style="text-align: left;">Dear Investor</h4>
    </div>
    <div style="max-width: 600px; margin: 0 auto; padding: 20px;">
 <p>Click on the button below to reset your password.</p>
      <a href="<%= link  %>" style="background-color: #0085FE; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;">Reset My Password</a>
      <p>You recently requested for a password reset, if you didn't make this request, please ignore this email, or contact us if you feel your account is under an attack.</p>
    <p>Contact the admin at admin@primefinanceltd.com</p>
	</div>
  </body>
</html>
