<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Email Template</title>
  </head>
  <body style="font-family: Arial, sans-serif">
    <div style="background-color: #F2F2F2; padding: 20px;">
      <img
      style="height: 30px; text-align: center;"
      src="https://www.primefinanceltd.com/Images/Logo.png"
      alt="This is the Prime Finance Limited Logo"
      />
      <h4 style="text-align: left;">Dear Stakeholder <%= name %></h4>
    </div>
    <div style="max-width: 600px; margin: 0 auto; padding: 20px">
      <p>
        Thank you for your recent investment <%=amount %> of in 
        our investment platform. Your investment has been processed and your
        funds have been allocated to your chosen investment strategy.
      </p>

      <p>
        We are committed to providing our Stakeholders with the highest level of
        service and support, and we are always here to answer any questions you
        may have. If you need assistance with your account or have any
        investment-related questions, please don't hesitate to contact us.
      </p>

      <p>
        Thank you for choosing our platform for your cryptocurrency investments.
      </p>
      <a
        href="https://www.primefinanceltd.com/user/dashboard"
        style="
          background-color: #0D47A1;
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
        "
        >Access Your Dashboard</a
      >
      <p>Contact the admin at admin@sparexshares.net</p>
    </div>
  </body>
</html>
