<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Email Template</title>
  </head>
  <body style="font-family: Arial, sans-serif;">
    <div style="background-color: #F2F2F2; padding: 20px;">
      <img
      style="height: 30px; text-align: center;"
      src="https://www.primefinanceltd.com/Images/Logo.png"
      alt="This is the Prime Finance Limited Logo"
      />
      <h4 style="text-align: left;">Dear Investor <%= name %></h4>
    </div>
    <div style="max-width: 600px; margin: 0 auto; padding: 20px;">
<p>	Thank you for your recent withdrawal request of $ <%=amount %> from your investment account with us. We are processing your request and your withdrawal will be completed shortly. </p>

<p>	Please note that it may take some time for the funds to be credited to your wallet. If you have any questions or need assistance, please don't hesitate to contact us. We are always happy to help.</p>
		
<p>	Thank you again for choosing to invest with us. </p>
      <a href="https://www.primefinanceltd.com/user/dashboard" style="background-color: #4CAF50; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;">Access Your Dashboard</a>
    <p>Contact the admin at admin@primefinanceltd.com</p>
	</div>
  </body>
</html>
